In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import pearsonr

In [10]:
pop_dir = "/home/parfait/Documents/MS BGD/INFMDI721_KIT_BigData/Cours1_2/INFMDI-721/lesson6/population_communes.csv"
dep_dir = "/home/parfait/Documents/MS BGD/INFMDI721_KIT_BigData/Cours1_2/INFMDI-721/lesson6/surface_departements.csv"

pop = pd.read_csv(pop_dir, sep = ',')
pop.head()

,Code département,Code canton,Code arrondissement,Code région,Nom de la commune,Code commune,Nom de la région,variable,value
0,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population totale,184
1,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population municipale,177
2,55,10.0,2,44,Abainville,1,Grand Est,Population totale,310
3,55,10.0,2,44,Abainville,1,Grand Est,Population municipale,305
4,60,11.0,1,32,Abancourt,1,Hauts-de-France,Population totale,658

In [11]:
dep = pd.read_csv(dep_dir, sep = ',')
dep.head()

  code_insee               nom  surf_km2
0        974        La Réunion    2505.0
1         11              Aude    6343.0
2         43       Haute-Loire    5003.0
3         13  Bouches-du-Rhône    5247.0
4         47    Lot-et-Garonne    5385.0

In [23]:
pop[ pop['variable'] == 'Population municipale' ]

,Code département,Code canton,Code arrondissement,Code région,Nom de la commune,Code commune,Nom de la région,variable,value
1,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population municipale,177
3,55,10.0,2,44,Abainville,1,Grand Est,Population municipale,305
5,59,9.0,2,32,Abancourt,1,Hauts-de-France,Population municipale,461
7,60,11.0,1,32,Abancourt,1,Hauts-de-France,Population municipale,648
9,54,2.0,3,44,Abaucourt,1,Grand Est,Population municipale,300
11,55,4.0,3,44,Abaucourt-Hautecourt,2,Grand Est,Population municipale,111
13,25,17.0,1,27,Abbans-Dessous,1,Bourgogne-Franche-Comté,Population municipale,264
15,25,17.0,1,27,Abbans-Dessus,2,Bourgogne-Franche-Comté,Population municipale,304
17,44,8.0,5,52,Abbaretz,1,Pays de la Loire,Population municipale,2068
18,60,4.0,1,32,Abbecourt,2,Hauts-de-France,Population municipale,768
20,25,2.0,1,27,Abbenans,3,Bourgogne-Franche-Comté,Population municipale,352
22,80,98.0,1,32,Abbeville,1,Hauts-de-France,Population municipale,23231
24,60,19.0,2,32,Abbeville-Saint-Lucien,3,Hauts-de-France,Population municipale,483
26,02,3.0,2,32,Abbécourt,1,Hauts-de-France,Population municipale,496
28,91,8.0,1,11,Abbéville-la-Rivière,1,Île-de-France,Population municipale,300
30,54,17.0,1,44,Abbéville-lès-Conflans,2,Grand Est,Population municipale,223
32,25,12.0,2,27,Abbévillers,4,Bourgogne-Franche-Comté,Population municipale,1031
35,34,21.0,1,76,Abeilhan,1,Occitanie,Population municipale,1660
37,70,13.0,1,27,Abelcourt,1,Bourgogne-Franche-Comté,Population municipale,352
39,39,17.0,1,27,Abergement-la-Ronce,1,Bourgogne-Franche-Comté,Population municipale,845
41,39,1.0,1,27,Abergement-le-Grand,2,Bourgogne-Franche-Comté,Population municipale,56
43,39,3.0,1,27,Abergement-le-Petit,3,Bourgogne-Franche-Comté,Population municipale,38
45,39,1.0,1,27,Abergement-lès-Thésy,4,Bourgogne-Franche-Comté,Population municipale,63
47,64,9.0,3,75,Abidos,3,Nouvelle-Aquitaine,Population municipale,232
49,37,6.0,3,24,Abilly,1,Centre-Val de Loire,Population municipale,1151
50,64,16.0,2,75,Abitain,4,Nouvelle-Aquitaine,Population municipale,97
52,24,13.0,2,75,Abjat-sur-Bandiat,1,Nouvelle-Aquitaine,Population municipale,617
54,62,17.0,7,32,Ablain-Saint-Nazaire,1,Hauts-de-France,Population municipale,1784
56,80,18.0,4,32,Ablaincourt-Pressoir,2,Hauts-de-France,Population municipale,269
59,62,9.0,1,32,Ablainzevelle,2,Hauts-de-France,Population municipale,216
...,...,...,...,...,...,...,...,...,...
70704,08,10.0,1,44,Évigny,160,Grand Est,Population municipale,191
70706,25,15.0,3,27,Évillers,229,Bourgogne-Franche-Comté,Population municipale,356
70708,62,28.0,7,32,Évin-Malmaison,321,Hauts-de-France,Population municipale,4580
70710,2A,10.0,1,94,Évisa,108,Corse,Population municipale,213
70712,01,10.0,1,84,Évosges,155,Auvergne-Rhône-Alpes,Population municipale,145
70714,22,8.0,1,53,Évran,56,Bretagne,Population municipale,1705
70717,57,27.0,7,44,Évrange,203,Grand Est,Population municipale,239
70718,14,12.0,2,28,Évrecy,257,Normandie,Population municipale,2016
70720,27,99.0,3,28,Évreux,229,Normandie,Population municipale,48899
70723,60,21.0,3,32,Évricourt,227,Hauts-de-France,Population municipale,220
70725,56,13.0,2,53,Évriguet,56,Bretagne,Population municipale,171
70726,53,6.0,3,52,Évron,97,Pays de la Loire,Population municipale,7200
70728,91,9.0,2,11,Évry,228,Île-de-France,Population municipale,54663
70730,89,18.0,3,27,Évry,162,Bourgogne-Franche-Comté,Population municipale,386
70733,77,8.0,2,11,Évry-Grégy-sur-Yerre,175,Île-de-France,Population municipale,2788
70735,95,9.0,2,11,Ézanville,229,Île-de-France,Population municipale,9767
70737,27,20.0,3,28,Ézy-sur-Eure,230,Normandie,Population municipale,3658
70738,29,27.0,1,53,Île-Molène,84,Bretagne,Population municipale,132
70741,29,19.0,4,53,Île-Tudy,85,Bretagne,Population municipale,746
70742,56,20.0,3,53,Île-aux-Moines,87,Bretagne,Population municipale,604
70744,17,3.0,2,75,Île-d'Aix,4,Nouvelle-Aquitaine,Population municipale,236
70746,56,20.0,3,53,Île-d'Arz,88,Bretagne,Population municipale,226
70748,56,17.0,1,53,Île-d'Houat,86,Bretagne,Population municipale,243
70751,29,26.0,3,53,Île-de-Batz,82,Bretagne,Population municipale,464
70753,22,11.0,4,53,Île-de-Bréhat,16,Bretagne,Population municipale,364
70755,29,10.0,4,53,Île-de-Sein,83,Bretagne,Population municipale,244
70756,57,8.0,3,44,Œting,521,Grand Est,Population municipale,2650
70759,62,38.0,1,32,Œuf-en-Ternois,633,Hauts-de-France,Population municipale,251
70760,51,6.0,2,44,Œuilly,410,Grand Est,Population municipale,635
70763,02,6.0,2,32,Œuilly,565,Hauts-de-France,Population municipale,290

In [58]:
pop_mun = pop[pop['variable'] == 'Population municipale'].groupby(['Code département', 'Code région']).sum().reset_index()

In [59]:
pop_mun.head()

,Code département,Code région,Code canton,Code arrondissement,Code commune,value
0,01,84,5080.0,856,93308,638425
1,02,32,9132.0,2438,335580,536136
2,03,84,2950.0,664,50888,339384
3,04,93,1866.0,622,24575,162565
4,05,93,1788.0,289,15367,141107

In [61]:
pop_num_fin = pop_mun.rename(columns={'value': 'Population municipale'})

In [62]:
pop_tot = pop[pop['variable'] == 'Population totale'].groupby(['Code département', 'Code région']).sum().reset_index()

In [63]:
pop_tot.head()

,Code département,Code région,Code canton,Code arrondissement,Code commune,value
0,01,84,5080.0,856,93308,655171
1,02,32,9132.0,2438,335580,549587
2,03,84,2950.0,664,50888,349336
3,04,93,1866.0,622,24575,167331
4,05,93,1788.0,289,15367,146148

In [64]:
pop_tot_fin = pop_tot.rename(columns={'value': 'Population totale'})

In [65]:
pop_tot_fin.head()

,Code département,Code région,Code canton,Code arrondissement,Code commune,Population totale
0,01,84,5080.0,856,93308,655171
1,02,32,9132.0,2438,335580,549587
2,03,84,2950.0,664,50888,349336
3,04,93,1866.0,622,24575,167331
4,05,93,1788.0,289,15367,146148

In [66]:
pop_new = pop_tot_fin.merge(pop_num_fin)

In [67]:
pop_new.head()

,Code département,Code région,Code canton,Code arrondissement,Code commune,Population totale,Population municipale
0,01,84,5080.0,856,93308,655171,638425
1,02,32,9132.0,2438,335580,549587,536136
2,03,84,2950.0,664,50888,349336,339384
3,04,93,1866.0,622,24575,167331,162565
4,05,93,1788.0,289,15367,146148,141107

In [68]:
pop_new['pourcentage_pop_mun'] = (pop_new['Population municipale']/pop_new['Population totale']) * 100

In [69]:
pop_new.head()

,Code département,Code région,Code canton,Code arrondissement,Code commune,Population totale,Population municipale,pourcentage_pop_mun
0,01,84,5080.0,856,93308,655171,638425,97.444026
1,02,32,9132.0,2438,335580,549587,536136,97.552526
2,03,84,2950.0,664,50888,349336,339384,97.151167
3,04,93,1866.0,622,24575,167331,162565,97.151753
4,05,93,1788.0,289,15367,146148,141107,96.550757

In [72]:
pop_reg = pop.groupby(['Code région']).sum().reset_index()

In [74]:
pop_reg_new = pop_reg.rename(columns={'value': 'Population region'})

In [75]:
pop_reg_new.head()

,Code région,Code canton,Code arrondissement,Code commune,Population region
0,1,2066.0,92,7490,794280
1,2,0.0,184,14790,758774
2,3,0.0,60,14328,541181
3,4,1984.0,122,19800,1715738
4,11,31600.0,5938,725862,24375557

In [78]:
pop_final = pop_new.merge(pop_reg_new,  left_on=['Code région'], right_on=['Code région'])

In [80]:
pop_final = pop_final.drop(['Code canton_x', 'Code arrondissement_x', 'Code commune_x', 'Code canton_y', 'Code arrondissement_y', 'Code commune_y' ], axis=1)

In [81]:
pop_final.head()

,Code département,Code région,Population totale,Population municipale,pourcentage_pop_mun,Population region
0,01,84,655171,638425,97.444026,16021246
1,03,84,349336,339384,97.151167,16021246
2,07,84,334591,325157,97.180438,16021246
3,15,84,151615,145969,96.276094,16021246
4,26,84,522276,508006,97.267728,16021246

In [82]:
pop_by_reg = pop_final.merge(dep, left_on=['Code département'], right_on=['code_insee'])

In [83]:
pop_by_reg.head()

,Code département,Code région,Population totale,Population municipale,pourcentage_pop_mun,Population region,code_insee,nom,surf_km2
0,01,84,655171,638425,97.444026,16021246,01,Ain,5784.0
1,03,84,349336,339384,97.151167,16021246,03,Allier,7379.0
2,07,84,334591,325157,97.180438,16021246,07,Ardèche,5566.0
3,15,84,151615,145969,96.276094,16021246,15,Cantal,5774.0
4,26,84,522276,508006,97.267728,16021246,26,Drôme,6558.0

In [84]:
pop_by_reg['densite'] = pop_by_reg['Population municipale'] / pop_by_reg['surf_km2']

In [85]:
pop_by_reg.head()

,Code département,Code région,Population totale,Population municipale,pourcentage_pop_mun,Population region,code_insee,nom,surf_km2,densite
0,01,84,655171,638425,97.444026,16021246,01,Ain,5784.0,110.377766
1,03,84,349336,339384,97.151167,16021246,03,Allier,7379.0,45.993224
2,07,84,334591,325157,97.180438,16021246,07,Ardèche,5566.0,58.418433
3,15,84,151615,145969,96.276094,16021246,15,Cantal,5774.0,25.280395
4,26,84,522276,508006,97.267728,16021246,26,Drôme,6558.0,77.463556

In [86]:
 pop_by_reg.to_csv("/home/parfait/Documents/MS BGD/INFMDI721_KIT_BigData/Cours1_2/INFMDI-721/lesson6/result-exo-cc.csv")

(100, 10)